In [1]:
print("hello")

hello

In [ ]:
Variable :  name of memory location where data get stored
scopes of variable:
local 
global

In [3]:
a=10
b=100
print(id(a)) #id--return the memeory address
print(id(b))

140731778475208
140731778478088

In [ ]:
keywords: reserved words

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:

def display():
    a=10
    b=20
    global x
    x=20
    

x=10 #global
print(a)
display()
print("after function call x=",x)

NameError: name 'a' is not defined

In [2]:
a=10
print(type(a))

<class 'int'>

In [7]:
a=list(input())

print(a)
print(type(a))

 123456

['1', '2', '3', '4', '5', '6']
<class 'list'>

In [ ]:
operators:
arithematic + - * ** // / %
relational < > <= >= != ==
assignment += -= **= *=
logical and or not
bitwise & | ^ ~ << >>
membership operator in not in
identify operator is not is

In [8]:
print(10**2)
print(5/2)
print(5//2) #floor division
print(5%2)#modulous

100
2.5
2
1

In [11]:
a=5
b=10
sum1=a+=b #a=a+b
print(sum1)
print(a)

SyntaxError: invalid syntax (1746378375.py, line 3)

In [14]:
print(2&4)
print(2^4)
print(2|4)
print(2<<4)
print(2>>4)
print(~(2)) 
print(7^7)

0
6
6
32
0
-3
0

In [16]:
a=[10,20,30,40]
print(10 not in a)

False

In [19]:
a=10
b=20
print(a is not  b)

True

In [4]:
#difference bwtween is and ==
a=[1,2,3]
b=[1,2,3]
c=a
print(a is c)
print(a==b)
print(a is b)

True
True
False

In [ ]:
"""
for loop

        for  variable in range(start,end,step):

while loop

"""

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [6]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [8]:
n=int(input("Enter the n value"))
for i in range(1,n+1):
    print('*'*i)

Enter the n value 5

*
**
***
****
*****

In [9]:
n=int(input("Enter the n value"))
for i in range(1,n+1):
    print(" "*(n-i)+'*'*i)

Enter the n value 5

    *
   **
  ***
 ****
*****

In [ ]:
while loop and functions

synatx :
while condition:
    #while body

In [ ]:
#negative postive
#even and odd
#factorial
#fibonacci series
#sum of digits
#reverse number
#polumorphisum
#armstrong
#prime number

In [11]:
#factorial
"""
5!=5*4*3*2*1=120
"""

n=int(input("Enter the number"))
fact=1
for i in range(1,n+1):
    fact=i*fact

for i in range(n,0,-1):
    fact=i*fact
print(fact)

Enter the number 7

5040

In [14]:
"""
#fibonacci series

0 1 1 2 3 5 8.....
"""
n=int(input("Enter the nth term for fibo series"))
n1=0
n2=1
print(n1,n2,end=" ")
n=n-2

while n>0:
    n3=n1+n2
    print(n3,end=" ")
    n1=n2
    n2=n3
    n-=1

Enter the nth term for fibo series 8

0 1 1 2 3 5 8 13

In [16]:
#sum of the digit

n=int(input("Enter the n value"))#459
sum=0#0

while n!=0:#0!=0
    digit=n%10 #4
    sum+=digit#18
    n//=10#0

print(sum)

Enter the n value 459

18

In [18]:
#functions:
def funaction_name(a):
    a[1]="hello"
    print("a value inside the function",a)
    
a=[10,20,30]
funaction_name(a)
print("a value after the function call",a)

a value inside the function [10, 'hello', 30]
a value after the function call [10, 'hello', 30]

In [21]:

sum1=lambda a,b,c:a+b+c

print(sum1(10,20,30))

60

In [24]:
#required and default parameters
def display(pl_name,p="programming"):
    print(pl_name+" "+p)


display("python")
display("java")
display("c#")

python programming
java programming
c# programming

In [30]:
#keywords parameters
def display_emp_name(last_name,first_name):
    print(f"{first_name} {last_name}")

display_emp_name(first_name="krishna",last_name="vasudev")
display_emp_name(last_name="vasudev",first_name="krishna")

krishna vasudev
krishna vasudev

In [2]:
#variables of arguments

def display(*args):
    
    print(sum(args))

display(1,2,3,4,5,6)

def display1(**kwargs):
    print(kwargs)

display1(stud1="john",stud2="rocky")

21
{'stud1': 'john', 'stud2': 'rocky'}